$primaryBackgroundColor: #ff8482;
$secondaryBackgroundColor: #FFF2DD;
$white: #ffffff;
$primaryColor: #BE6361;
$bgColorCopyright: #A85756;
$black: #333333;




body {
    font-family: "DM Sans";
    color:white;
    margin:0;
    padding:0;
}


//HEADINGS
h1{
    margin-top: 4%;
    font-family: "Alfa Slab One";
    font-weight: 500;
    font-size: 5vw;
    line-height: 1.1;
}
h2{
    font-family: "Alfa Slab One";
    font-size: 4vw;
    font-weight: 300;
    color: $black;
    margin: 0%;
    line-height: 1.1;
}
h3{
    font-family: "Alfa Slab One";
    font-size: 3vw;
    margin: 0;
}
h4{
    font-family: "DM Sans";
    font-size: 1.6vw;
}
h5{
    font-family: "DM Sans";
    margin-bottom: 0;
    font-size: 1.5vw;
}


//KNOPPEN
.button{
    font-family: "DM Sans";
    text-decoration: none;
    color: $white;
    padding: 2% 10%;
    border-radius: 5%;
}
#btnSignup{
    padding: 1% 5%;
    border: 2px solid rgba(255,255,255,0.29);
}
#btnSubmit{
    color: $black;
    background-color: white;
    margin-left:5%;
}
#btnExplore{
    background-color: $primaryColor;
    color: white;
}
#btnLearnMore{
    background-color: $primaryColor;
    color: white;
    padding: 1.2% 4%;
    margin-top: 3%;
}
#btnGetStarted{
    color: $primaryColor;
    border: 1px solid $primaryColor;
}
#btnTryNow{
    padding: 1% 5%;
    color: $black;
    background-color: $white;
    border: 2px solid $black;
    margin-bottom: 5%;
}


// TEKST
.textBig{
    color: $black;
    font-size: 1.4vw;
    font-weight: 2;
    line-height: 1.5;
}
.text{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 2.5w;
    margin-top: 1%;
}
.greyText{
    opacity: 50%;
}


// DE CONTAINER OPBOUW 
.container{
    padding:  0% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.containerLeft{
    width: 50%;
}
.containerRight{
    width: 50%;
}
.bigImg{
    width: 114%;
    margin: -6%;
}


//DE HEADER
#header{
    background-color: $primaryBackgroundColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
#logo{
    font-family: "Alfa Slab One";
    font-size: 5vw;
}
#burger{
    display: none;
    cursor: pointer;
}
.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    border-radius: 20%;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
#navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}
#navigation a{
    color: white;
    text-decoration: none;
    padding: 1vw;
    font-size: 1.5vw;
}
















//CONTAINER SPECIFIEK
// SUBMIT
#containerSubmit{
    background-color: $primaryBackgroundColor;
}
#containerSubmit form{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 5vw;
}
#containerSubmit .containerLeft{
    align-self: center;
    margin-top: -10%;
}

#inputEmail{
    padding-left: 2%;
    width: 70%;
    height: 50%;
    border: none;
    font-family: "DM Sans";
}



// EXPLORE
#containerExplore{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: $secondaryBackgroundColor;
}
#containerExplore .containerLeft{
    padding: 0;
}
#containerExplore .containerRight{
    margin-left: 7%;
}
#containerExplore .containerRight h5{
    color: $primaryColor;
    margin: 0%;
}
#containerExplore .containerRight h2{
    color: $black;
}


// LEARN MORE
#containerLearnMore{
    padding:  0% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $black;
    text-align: center;
    padding-bottom: 5%;
}
#containerLearnMore .textBig{
    width: 50%;
}
#articles{
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    width: 100%;
    justify-content: space-between;
    
}
#articles img{
    padding: 10% 0;
    height: 8vw;
    width: auto;
}
article{
    width: 30%;
}


// GETTING STARTED
#containerGetStarted{
    color: $black;
    background-color: $secondaryBackgroundColor;
}
#containerGetStarted h5, #containerLearnMore h5{
    color: $primaryColor;
}
#containerGetStarted ul{
    padding: 0;
    margin-top: 5%;
}
.symbol{
    height: 2vw;
    padding-right: 5%;
    padding-bottom: 5%;
}
#containerGetStarted .bigImg{
    padding-top: 10%;
}


// BANNER
#banner{
    //flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    // achtergrond
    background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5) ), url(/dist/images/alethiekpiste.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#banner h2{
    color: $white;
    margin-top: 1%;
    margin-bottom: 2%;
}
#banner h5{
    margin-top: 5%;
}




// FOOTER
footer{
    background-color: $primaryColor;
    display: flex;
    flex-direction: row;
    padding: 3% 0;
}
footer .textBig{
    color: $white;
}
#footerLeft{
    margin: 0 10%;
    width: 32%;
}
#socials img{
    margin-right: 3%;
}
.footerColumn{
    margin-right: 10%;
    margin-top: 2%;
}



// COPYRIGHT
#copyright{
    background-color: $bgColorCopyright;
    width: 100%;

}
#copyright p{
    padding: 2%;
    margin: 0;
    text-align: center;
}


















//ANIMATIONS
//ANIMATION VOOR HAMBURGER MENU X
.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2{
    opacity: 0;
} 
.change .bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

















// RESPONSIVE
@media only screen and (max-width: 800px) {
    // ALGEMEEN
    h1{
        font-size: 12vw;
        hyphens: auto;
    }
    h2{
        font-size: 10vw;
    }
    h3{
        margin-top: 10%;
        font-size: 10vw;
    }
    h4{
        font-size: 7vw;
        margin: 0;
    }
    h5{
        font-size: 5vw;
        padding-bottom: 3%;
    }
    .text{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        font-size: 4.5vw;
        margin-top: 2%;
        line-height: 1.4;
    }
    .textBig{
        font-size: 5vw;
    }
    .greyText{
        margin-top: 0;
    }
    .container{
        flex-direction: column;
    }
    .containerRight, .containerLeft{
        width: 100%;
    }
    .symbol{
        width: 6vw;
        height: 6vw;
    }
    .bigImg{
        width: 100%;
        margin: 0;
    }


    // NAVIGATION
    #header{
        padding-left: 3%;
        padding-right: 3%;
    }
    #logo{
        font-size: 12vw;
    }
    #btnSignup{
        display: none;
    }
    #burger{
        display: block;
    }
    #navigation{
        display: none;
        width: 100%;
    }
    #navigation a{
        font-size: 6vw;
    }
    #navigation.show{
        display: flex;
        flex-direction: column;
    }


    // SUBMIT
    .container{
        padding: 0 3.5%;
    }
    #containerSubmit .containerLeft{
        margin-top: 0;
    }
    #containerSubmit form{
        height: 1%;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
    #inputEmail{
        padding-left: 2%;
        margin-bottom: 4%;
        width: 100%;
        height: 5vw;
    }
    #btnSubmit{
        margin: 0;
    }


    // EXPLORE
    #containerExplore .containerRight{
        margin-left: 0;
        padding-bottom: 10%;
    }


    // LEARN MORE
    #containerLearnMore .textBig{
        width: 90%;
    }
    #articles{
        display: flex;
        flex-direction: column;    
    }
    #articles img{
        height: 20vw;
        width: auto;
    }
    article{
        width: 100%;
    }
    #btnLearnMore{
        padding: 3% 10%;
        margin-bottom: 10%;
    }


    // BANNER
    #banner h2{
        padding: 0 1%;

    }


    // FOOTER
    footer{
        flex-direction: column;
        justify-content: center;
    }
    #footerLeft{
        width: 90%;
        margin-left: 3%;
    }
    .footerColumn{
        margin-top: 10%;
        margin-left: 3%;
        width: 90%;
    }

    // COPYRIGHT
    #copyright p{
        padding: 10%;
    } 
}

