$bgColorHero: #ff8482;
$bgColorOne: #FFF2DD;
$bgColorTwo: #ffffff;
$bgColorFooter: #BE6361;
$bgColorCopyright: #A85756;

body {
    font-family: "DM Sans";
    color:white;
    margin:0;
    padding:0;
}
#header{
    background-color: $bgColorHero;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}
#logo{
    font-family: "Alfa Slab One";
    font-size: 40px;
}
#burger{
    display: none;
    cursor: pointer;
}

//HAMBURGER MENU
.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    border-radius: 20%;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
//ANIMATION VOOR HAMBURGER MENU X
.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2{
    opacity: 0;
} 
.change .bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


#navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}
// LINKS VOOR NAVIGATIE
#navigation a{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
}
#signup{
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid rgba(255,255,255,0.29);
}


// 
.container{
    padding:  0% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin-bottom: -5%;
}
.containerLeft{
    width: 50%;
    border: 1px dotted black;
}
.containerRight{
    width: 50%;

    border: 1px dotted black;
}
.containerRight img{
    margin-left: -7%;
    width: 114%;
}
.containerLeft img{
    margin-left: -7%;
    width: 114%;
}

#containerSubmit h5{
    margin-bottom: 0;
    margin-top: 10%;
    font-size: 1vw;
}
#containerSubmit h1{
    margin-top: 2%;
    font-family: "Alfa Slab One";
    font-weight: 500;
    font-size: 5vw;
}

//CONTAINER SPECIFIEK
#containerSubmit{
    background-color: $bgColorHero;
}
#containerSubmit form{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 5vh;
}
#containerSubmit .containerLeft{
    align-self: start;
}
#inputEmail{
    padding-left: 2%;
    width: 70%;
    height: 100%;
    border: none;
    font-family: "DM Sans";
}
#submitEmail{
    margin-left:5%;
    border-radius: 3%;
    background-color: white;
    width: 25%;
    height: 110%;
    font-family: "DM Sans";

}

#containerExplore{
    background-color: $bgColorOne;
}
#containerGetStarted{
    background-color: $bgColorOne;
}
@media only screen and (max-width: 800px) {
    //RESPONSIVE NAVIGATION
    #signup{
        display: none;
    }
    #burger{
        display: block;
    }
    #navigation{
        display: none;
        width: 100%;
    }
    #navigation.show{
        display: flex;
        flex-direction: column;
    }

    //RESPONSIVE CONTAINERS
    .container{
        flex-direction: column;
    }
    .containerRight, .containerLeft{
        margin-right: 0;
        width: 100%;
    }
    .containerRight img, .containerLeft img{
        margin-left: 0;
        width: 100%;
    }

    //SPECIFIEKE CONTAINERS
    #containerSubmit h5{
        font-size: 5vw;
    }
    #containerSubmit h1{
        font-size: 10vw;
    }
    
}

//PRINT 
@media print{
    body{
        background: transparent;
        color: black;
    } 
}

